@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.row .col-button .form-group {
	margin-left: 15px;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-radius: 0;
	color: #fff;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
}

.img-background {
	max-width: 100%;
  	height: auto;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #eb315a;
}

.border-right {
    border-right: 2px solid #03090e!important;
}


.show-popup-ranked {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 999; /* Đặt z-index để nó nằm trên các phần tử khác */
}

.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}
.popup-container .popup-box {
  width: 500px;
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 30px;
  transform: scale(0);
}
.popup-container.active .popup-box {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}
.popup-box h1 {
  color: #333;
  line-height: 1;
}
.popup-box p {
  color: #333;
  margin: 12px 0 20px;
}
.popup-box .close-btn {
  width: 100%;
  height: 45px;
  background: #eb315a;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;

}

.content-table {
  color: black;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 440px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #eb315a;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

    .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #eb315a;

    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover{
        z-index: 1;
        color: #fff;
        background-color: #eb315a;
    }

    .accumulate-points {
    color: white;
    padding: 5px;
    display: inline-block;
    background-color: #eb315a;
    line-height: 20px;
    border-radius: 8px;
}