<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>
<body>
    New order information from customers: {{CustomerName}}<br />
    Email: {{Email}}<br />
    MovieName: {{MovieName}}<br />
    Cinema: {{Cinema}}<br />
    Day: {{Day}}, Time: {{Time}}<br />
    Quantity: {{Quantity}}  Seats: {{Seats}}<br />
    Total: {{Total}}<br /> <br />

    <i style="font-weight: bold">"I hope you have a great time at the movie theater!"</i>
</body>
</html>
