<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title> Responsive Login and Signup Form </title>-->
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/Login.css">
  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="wrapper" id="container">
  <span class="close">&times;</span>
  <div class="form-container login-container">
    <div class="form-login-sign">
      <form th:action="@{/account/resetpassword}" method="post">
        <div class="title-form">
          <h1>Reset Password</h1>
        </div>
        <div class="field">
          <input type="text" placeholder="username" name="username" id="username" required>
        </div>
        <button type="submit" onclick="showAlert()" class="btn-form">Reset</button>
      </form>
    </div>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1 class="title-overplay">Hello</h1>
        <div class="tilte-desciptions">
          <p>If you have an account, login here and have fun</p>
        </div>
        <button  onclick="window.location.href='/account/login'"  class="ghost btn-form" id="login">Login
          <i class="lni lni-arrow-left login"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>