<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="layout-head">
    <!--Dùng để hiển thị kí tự có dấu unicode-->
    <meta charset="UTF-8">
    <title></title>
    <!--load thư viện css của bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/img/menulogo.png" />
    <link rel="stylesheet" th:href="@{/admins/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/admins/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/admins/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/admins/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/admins/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/admins/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/admins/css/style.css}">
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="container-scroller">
    <nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="/admin/movie">
                <img src="/assets/img/logo.png" style="width: 145px; height: auto;"/>
            </a>
            <a class="sidebar-brand brand-logo-mini" href="/admin/movie"><img src="/assets/img/menulogo.png"
                                                                              alt="logo"/></a>
        </div>
        <ul class="nav">

            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "Movies")">-->
                <a class="nav-link" href="/admin/movie">
        <span class="menu-icon">
                    <i class="mdi mdi-movie"></i>
                </span>
                    <span class="menu-title">Movie</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("DashBoard", "Account")">-->
                <a class="nav-link" href="/admin/dashboard">
        <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("DashBoard", "Account")">-->
                <a class="nav-link" href="/admin/invoice">
        <span class="menu-icon">
                    <i class="mdi mdi-calculator"></i>
                </span>
                    <span class="menu-title">Invoice</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "Cinemas")">-->
                <a class="nav-link" href="/admin/cinema">
        <span class="menu-icon">
                    <i class="mdi mdi-home-variant"></i>
                </span>
                    <span class="menu-title">Cinema</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "Celebrities")">-->
                <a class="nav-link" href="/admin/celebrity">
        <span class="menu-icon">
                    <i class="mdi mdi-human-greeting"></i>
                </span>
                    <span class="menu-title">Celebrities</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "ShowDays")">-->
                <a class="nav-link" href="/admin/showday">
        <span class="menu-icon">
                    <i class="mdi mdi-calendar-today"></i>
                </span>
                    <span class="menu-title">Show Day</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "ShowTimes")">-->
                <a class="nav-link" href="/admin/showtime">
        <span class="menu-icon">
                    <i class="mdi mdi-clock"></i>
                </span>
                    <span class="menu-title">Show Time</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "Shows")">-->
                <a class="nav-link" href="/admin/shows">
        <span class="menu-icon">
                    <i class="mdi mdi-television"></i>
                </span>
                    <span class="menu-title">Show</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "Seats")">-->
                <a class="nav-link" href="/admin/seat">
        <span class="menu-icon">
                    <i class="mdi mdi-seat-recline-normal"></i>
                </span>
                    <span class="menu-title">Seat</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "News")">-->
                <a class="nav-link" href="/admin/news">
        <span class="menu-icon">
                    <i class="mdi mdi-newspaper"></i>
                </span>
                    <span class="menu-title">News</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("Index", "Reservations")">-->
                <a class="nav-link" href="/admin/reservation">
        <span class="menu-icon">
                    <i class="mdi mdi-ticket-confirmation"></i>
                </span>
                    <span class="menu-title">Reservation</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("DashBoard", "Account")">-->
                <a class="nav-link" href="/admin/comment">
        <span class="menu-icon">
                    <i class="mdi mdi-comment-text-outline"></i>
                </span>
                    <span class="menu-title">Comment</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("DashBoard", "Account")">-->
                <a class="nav-link" href="/admin/account">
        <span class="menu-icon">
                    <i class="mdi mdi-account"></i>
                </span>
                    <span class="menu-title">Account</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <!--                    <a class="nav-link" href="@Url.Action("DashBoard", "Account")">-->
                <a class="nav-link" href="/admin/ranking">
        <span class="menu-icon">
                    <i class="mdi mdi-crown" style="color: yellow"></i>
                </span>
                    <span class="menu-title">Ranking</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav th:fragment="menubar" class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="/admin"><img src="/admin/images/logoa.png"
                                                                           alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">admin</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                             aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Action</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" href="/">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-home text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Back to Home</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item"
                               href="/logout">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div th:insert="~{::${content}}">
                </div>
            </div>
            <footer th:fragment="footer" class="footer float-none float-sm-right d-block mt-1 mt-sm-0 text-right">
                <p>&copy;footer</p>
            </footer>
        </div>
    </div>
</div>
<div th:fragment="foot">
    <script src="/admins/vendors/js/vendor.bundle.base.js"></script>
    <script src="/admins/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/admins/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/admins/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/admins/vendors/owl-carousel-2/owl.carousel.min.js"></script>

    <script src="/admins/js/off-canvas.js"></script>
    <script src="/admins/vendors/chart.js/Chart.min.js"></script>
    <script src="/admins/js/hoverable-collapse.js"></script>
    <script src="/admins/js/misc.js"></script>
    <script src="/admins/js/settings.js"></script>
    <script src="/admins/js/todolist.js"></script>
    <script src="/admins/js/dashboard.js"></script>
    <script src="/admins/js/file-upload.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    </div>
</body>
</html>